nav {
    display: flex;
    align-items: center;
    margin: 10px
}



.navigation-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 10px;
    
}

.about-me-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation-items li {
    padding: 5px;
}

.portrait {
    width: 200px;
    border-radius: 12px;
    flex-shrink: 1;
}

.website {
    width: 500px;
    margin-right: 10px;
}



.example-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

#projects {
    margin: 10px;
}