body {
    background-color: rgb(224, 188, 241);
}

nav {
    display: flex;
    align-items: center;
    margin: 10px
}



.navigation-items {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 10px;
    
}

.about-me-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.navigation-items li {
    padding: 5px;
}


.portrait {
    width: 200px;
    border-radius: 12px;
    flex-shrink: 1;
}

.website {
    width: 75%;
    margin-right: 20px;
    border-radius: 12px;
}


.example-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px; 
}

.example p {
    padding-right: 10px;
}

#projects {
    margin: 10px;
}


a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

#skills h3 {
    display:flex;
    justify-content: center;
}
.skills-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 2em;
}
i {
    font-weight: 900;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact h3 {
    display:flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.heart {
    color: red;
    font-size: 1.5em;
}